.headerTop{
    display: flex;
    justify-content: space-around;
    align-items: center;
   p{}
   
   .headerTopBtn{

    .Login2{}
   }
   .span{

   }
}
.headerBottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
.logo{}
.headerBottom-Url{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

}